.book-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content fit-content(1200px);
    grid-row-gap: 5px;
    grid-column-gap: 3px;
    justify-self: stretch;
}
.book-layout > img {
    width: 320px;
    height: 480px;
}
.book-info-layout {
    display: grid;
    grid-template-rows: auto auto auto auto fit-content(500px) auto;
}
.book-title {
    grid-row: 1;
    font-size: 32px;
    font-family: "Arial Black", cursive;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
.book-subtitle {
    grid-row: 2;
    margin-left: 5px;
    font-size: 24px;
    font-family: "Arial Black", cursive;
    font-weight: bold;
    text-align: left;
}
.book-publisher {
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    font-family: "Times New Roman", sans-serif;
}
.book-avgRating {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    font-family: "Times New Roman", sans-serif;
}
.book-description {
    grid-row: 5;
    overflow-y: auto;
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    text-align: left;
    overflow-wrap: break-word;
    text-justify: distribute;
    margin-left: 15px;
    margin-top: 5px;
}
.book-author {
    display: inline;
    font-family: "Arial Black", cursive;
    font-size: 18px;
}