.book-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: min-content auto;
    grid-row-gap: 5px;
    grid-column-gap: 3px;
    justify-self: stretch;
}
.book-layout > img {
    width: 320px;
    height: 480px;
}
.book-info {
    grid-column: 2;
    display: grid;
}
.book-title {
    font-size: 32px;
    font-family: "Arial Black", cursive;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
.book-subtitle {
    margin-left: 5px;
    font-size: 24px;
    font-family: "Arial Black", cursive;
    font-weight: bold;
    text-align: left;
}
.book-publisher {
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    font-family: "Times New Roman", sans-serif;
}
.book-avgRating {
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    font-family: "Times New Roman", sans-serif;
}
.book-description {
    overflow-y: auto;
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
    text-align: left;
    overflow-wrap: break-word;
    text-justify: distribute;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
    max-height: 500px;
    border-left: 2px black solid;
}
.book-author {
    display: inline;
    font-family: "Arial Black", cursive;
    font-size: 18px;
}