@page "/books"
@using MediatR
@using Application.Requests
@using global::Books.Entities
@inject IMediator Mediator;
<PageTitle>Books</PageTitle>

<h1>My favourite books</h1>
<p>Here is a list of my favourite books!</p>
<table class="table">
    <tbody>
    @for(int i = 0; i < _books.Length; i++)
    {
        var book = _books[i];
        <tr>
            <td><BookComponent Title="@book.Title" ImageUrl="@book.ImageUrl" MyOpinion="@book.MyOpinion" Author="@book.Author"/></td>
        </tr>
    }
    </tbody>
</table>

@code {
    private Book[] _books = Array.Empty<Book>();
    protected override async Task OnInitializedAsync()
    {
        var booksRequest = new GetAllBooksRequest();
        var currentBooks = await Mediator.Send(booksRequest);
        _books = currentBooks.ToArray();
    }
}